<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Flat4me.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Flat4me.Core.Settings>
            <setting name="Mail_SendGrid_DefaultFrom" serializeAs="String">
                <value>noreply@flat4.me</value>
            </setting>
            <setting name="Mail_SendGrid_ApiKey" serializeAs="String">
                <value>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</value>
            </setting>
        </Flat4me.Core.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>