<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://portal-f4me0dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>portal-f4me0dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>portal-f4me0dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$portal-f4me0dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="F4MeDev" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:f4me0dev-sql.database.windows.net,1433;Initial Catalog=f4me0dev;User ID=f4me0dev@f4me0dev-sql;Password=1qaz@WSX3edc;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:f4me0dev-sql.database.windows.net,1433;Initial Catalog=f4me0dev;User ID=f4me0dev@f4me0dev-sql;Password=1qaz@WSX3edc;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\F4MeDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:f4me0dev-sql.database.windows.net,1433;Database=f4me0dev;User ID=f4me0dev@f4me0dev-sql;Password=1qaz@WSX3edc;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)F4MeDev-Web.config Connection String">
      <ParameterValue>Data Source=tcp:f4me0dev-sql.database.windows.net,1433;Initial Catalog=f4me0dev;User ID=f4me0dev@f4me0dev-sql;Password=1qaz@WSX3edc;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>