################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/trunk/Flat4Me.Core/bin/Debug
/Samples/YaMaps/YaMaps/bin
/Samples/YaMaps/YaMaps/obj/Debug
/Samples/YaMaps/YaMapsTests/obj/Debug
*.suo
/trunk/Flat4Me.Core/obj
/trunk/Flat4Me.Data/bin/Debug
/trunk/Flat4Me.Data/obj
/trunk/Flat4Me.Database/bin/Debug
/trunk/Flat4Me.Database/obj/Debug
*.user
/trunk/Flat4Me.Geo/bin/Debug
/trunk/Flat4Me.Geo/obj/Debug
/trunk/Flat4Me.Geo/obj/Release
/trunk/Flat4Me.Tests/bin/Debug
/trunk/Flat4Me.Tests/obj
/trunk/Flat4Me.Web/bin
/trunk/Flat4Me.Web/obj
/trunk/packages
/trunk/Services/Flat4Me.ImageCloudService/bin/Debug
/trunk/Services/Flat4Me.ImageCloudService/obj/Debug
/trunk/Services/Flat4Me.ImageService/bin/Debug
/trunk/Services/Flat4Me.ImageService/obj
/trunk/Services/Flat4Me.ImageServiceCore/bin/Debug
/trunk/Services/Flat4Me.ImageServiceCore/obj
/trunk/Services/Flat4Me.ImageWorkerRole/bin/Debug
/trunk/Services/Flat4Me.ImageWorkerRole/obj
/trunk/Services/Flat4Me.MailCloudService/bin/Debug
/trunk/Services/Flat4Me.MailCloudService/obj/Debug
/trunk/Services/Flat4Me.MailServiceCore/bin/Debug
/trunk/Services/Flat4Me.MailServiceCore/obj
/trunk/Services/Flat4Me.MailWorkerRole/bin/Debug
/trunk/Services/Flat4Me.MailWorkerRole/obj
bin
/trunk/Flat4Me.Database/Flat4Me.Database.dbmdl
obj
trunk/output/
trunk/Services/output/
trunk/Services/Flat4Me.ImageCloudService/csx/Debug/
