@{
    ViewBag.Title = "Восстановление пароля";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <p>
                            Пожалуйста, проверьте свой email.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>