@{
    ViewBag.Title = "Аккаунт не проверен";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-2 col-lg-4 col-lg-offset-4">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <hgroup>
                        <h4 class="text-info">Подождите еще немного</h4>
                        <h4 class="text-info">Ваш аккаунт проверяется модератором</h4>
                        <h4 class="text-info">Вы получите уведомление по email</h4>
                        <h4 class="text-info">Спасибо!</h4>
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</div>
