.container {
    width: 100%;
}
.modal-backdrop{
    z-index: 0;
}

.tt-input::-ms-clear {
    display: none;
}

.horizontal-center {
    width: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.twitter-typeahead {
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.carousel {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-inner > .item {
    height: 500px;
}

.carousel > .carousel-control {
    margin-top: 400px;
}

.carousel-indicators > li,
.carousel-indicators > li.active {
    margin: 5px;
    border-radius: 0;
    border: none;
    text-indent: 0;
    background: none;
}

    .carousel-indicators > li > span {
        color: #f0ad4e;
    }

    .carousel-indicators > li.active > span {
        color: #337ab7;
    }

.cover-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    cursor: pointer;
}

/* Use for indicating */
.checked {
}

.full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 124px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.main-search-pane {
    position: relative;
    height: 150px;
    margin: 350px 0px 0px 0px;
    /*opacity: 0.85; /* Opacity for Modern Browsers */
    /*filter: alpha(opacity=85); /* Opacity for IE8 and lower */
    background: rgba(237,237,237, 0.85);
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.accview-top-menu-lg {
    width: 535px;
}

    .accview-top-menu-lg .col-xs-3 {
        width: 130px;
        text-align: center;
        cursor: pointer;
    }

.accview-top-menu-xs {
    width: 220px;
}

    .accview-top-menu-xs .col-xs-3 {
        width: 50px;
        text-align: center;
        cursor: pointer;
    }

.accview-bottom-icon {
    text-align: center;
}

.icon-with-desc {
    margin-left: 10px;
    margin-right: 10px;
}

.icon-center {
    text-align: center;
}

.icon-text-container {
    margin-top: 5px;
    margin-bottom: 5px;
}
