<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Flat4Me.ImageServiceCore.ImageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Flat4Me.ImageServiceCore.ImageServiceSettings>
      <setting name="ImageStorageDiskPath" serializeAs="String">
        <value>C:\flat4me\img\content\1</value>
      </setting>
      <setting name="ImageUriPattern" serializeAs="String">
        <value>http://localhost/img/content/1/{0}</value>
      </setting>
      <setting name="ReplaceExistingImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AzureBlobConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=flat4medev;AccountKey=9no2AuNRceSS9nDHkq3PtV81SpbozERxRlB2cUhuZ4aq6zrDxZOTnKfrC1W3dJ7ry+7P6Z1mHeys7tWIGF8IAg==</value>
      </setting>
      <setting name="AzureBlobContainer" serializeAs="String">
        <value>photos</value>
      </setting>
      <setting name="AzureBlobPublicUriPattern" serializeAs="String">
        <value>http://flat4medev.blob.core.windows.net/{0}/{1}</value>
      </setting>
    </Flat4Me.ImageServiceCore.ImageServiceSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>