@* priceListItem *@
<script id="reservationListTemplate" type="text/x-handlebars-template">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Заезд</td>
                <td>Выезд</td>
                <td>Гости</td>                
                <td>Предварительная стоимость</td>
                <td>Дети</td>
                <td>Контактное лицо</td>
                <td>Телефон</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>{{CheckinString}}</td>
                <td>{{CheckoutString}}</td>
                <td>{{Guests}}</td>                
                <td>{{EstimatedAmount}}</td>
                <td>{{Children}}</td>
                <td>{{ContactName}}</td>
                <td>
                    <address>                        
                        {{ContactPhone}}
                    </address>
                </td>
                <td>
                    <address>
                        <a href="mailto:#">{{ContactEmail}}</a>
                    </address>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>