<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flat4Me.TestConsole.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="Flat4Me.Data.Repository.Azure.StorageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <Flat4Me.TestConsole.TestSettings>
            <setting name="ImageToPublish" serializeAs="String">
                <value>C:\flat4me\test\2publish.jpg</value>
            </setting>
            <setting name="ImageID" serializeAs="String">
                <value>2</value>
            </setting>
        </Flat4Me.TestConsole.TestSettings>
      <Flat4Me.Data.Repository.Azure.StorageSettings>
        <setting name="LogTableName" serializeAs="String">
          <value>ImageWorkerLog</value>
        </setting>
        <setting name="ConnectionString" serializeAs="String">
          <value>DefaultEndpointsProtocol=https;AccountName=flat4melog;AccountKey=pMBE38WS3/W+1772TooaZxcxvAiPJYzuCgP+muTOddZBrgc8Jh8UA3GvuANiyqAb4tL2shrD/31pc9i6keO1vA==</value>
        </setting>
      </Flat4Me.Data.Repository.Azure.StorageSettings>
    </applicationSettings>
</configuration>
