
@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header">
    <div class="row">
        <h1 class="text-danger">Ошибка</h1>
    </div>
</div>


<div class="container">
    <div class="row">
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    </div>
</div>