<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Flat4Me.ImageServiceCore.ImageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Flat4Me.Data.Repository.Azure.StorageSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Flat4Me.MailServiceCore.MailServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Flat4Me.ImageServiceCore.ImageServiceSettings>
      <setting name="ReplaceExistingImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AzureBlobConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=f4me0devstorage;AccountKey=Fa6O7voB9IsCiq6/h1QH734qUiQHun7yYeiigTEiD5Qootcl0mQdRjWgNAeUhlGZHPnHm/bJFkxIXBTA/6z01Q==</value>
      </setting>
      <setting name="AzureBlobContainer" serializeAs="String">
        <value>photos</value>
      </setting>
      <setting name="AzureBlobPublicUriPattern" serializeAs="String">
        <value>http://f4me0devstorage.blob.core.windows.net/{0}/{1}</value>
      </setting>
    </Flat4Me.ImageServiceCore.ImageServiceSettings>
    <Flat4Me.Data.Repository.Azure.StorageSettings>
      <setting name="LogTableName" serializeAs="String">
        <value>FlatPhotoWorkerLog</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=f4me0logs;AccountKey=KXg5JteZugzxR8Hqghg2vr/gZj6vlZu+v87FEtthJ8R6Z3+70Tmc77prbmIIq+Sbg6erFgyGM7a4edjdL5ubgg==</value>
      </setting>
    </Flat4Me.Data.Repository.Azure.StorageSettings>
    <Flat4Me.MailServiceCore.MailServiceSettings>
      <setting name="SendGridUser" serializeAs="String">
        <value>msolyakov</value>
      </setting>
      <setting name="SendGridPassword" serializeAs="String">
        <value>Hd73nnXJ2E3V</value>
      </setting>
      <setting name="DefaultFromAddress" serializeAs="String">
        <value>no-reply@flat4.me</value>
      </setting>
    </Flat4Me.MailServiceCore.MailServiceSettings>    
  </applicationSettings>
  <connectionStrings>
    <add name="F4MeDev" providerName="System.Data.SqlClient" connectionString="Server=tcp:f4me0dev-sql.database.windows.net,1433;Database=f4me0dev;User ID=f4me0dev@f4me0dev-sql;Password=1qaz@WSX3edc;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>