<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="Flat4Me.Core.Rabbit.RabbitClientConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
</startup>
<applicationSettings>
    <Flat4Me.Core.Rabbit.RabbitClientConfig>
        <setting name="RabbitHost" serializeAs="String">
            <value>f4me0dev-vpc.cloudapp.net</value>
        </setting>
        <setting name="RabbitPort" serializeAs="String">
            <value>5672</value>
        </setting>
        <setting name="RabbitUser" serializeAs="String">
            <value>f4rabbit</value>
        </setting>
        <setting name="RabbitPassword" serializeAs="String">
            <value>1qaz@WSX3edc</value>
        </setting>
        <setting name="DefaultVirtualHost" serializeAs="String">
            <value>/</value>
        </setting>
    </Flat4Me.Core.Rabbit.RabbitClientConfig>
</applicationSettings>
</configuration>
