@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var accommodationId = '@Url.RequestContext.RouteData.Values["Id"]';
            // Get all reservations for accommodation
            Accommodation.loadReservationList(accommodationId);
        });
    </script>
}

<div id="reservationListContainer">
</div>