<script id="flatTopMenuTemplate" type="text/x-handlebars-template">
    <div class="col-xs-3"
         data-target="#carousel-example-generic" data-slide-to="0"
         data-toggle="tooltip"
         data-placement="top"
         data-original-title="Карта">
        <span class="fa fa-map-marker fa-2x" aria-hidden="true"></span>
        <br />
        <span class="fa text-warning hidden-xs">
            Карта
        </span>
    </div>
    <div class="col-xs-3"
         data-target="#carousel-example-generic" data-slide-to="1"
         data-toggle="tooltip"
         data-placement="top"
         data-original-title="Фото">
        <span class="fa fa-camera fa-2x" aria-hidden="true"></span>
        <br />
        <span class="fa text-warning hidden-xs">
            Фото
        </span>
    </div>
    <div class="col-xs-3"
         data-toggle="tooltip"
         data-placement="top"
         data-original-title="Цена">
        <span class="fa fa-rub fa-2x" aria-hidden="true"></span>
        <br />
        <p class="fa text-warning hidden-xs">
            Цена
        </p>
    </div>
    <div class="col-xs-3"
         data-toggle="tooltip"
         data-placement="top"
         data-original-title="Забронировать">
        <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
        <br />
        <p class="fa text-warning hidden-xs">
            Забронировать
        </p>
    </div>
</script>