@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Пожалуйста, подтвердите свою почту.
        Мы выслали вам письмо для подтверждения аккаунта.
        Спасибо!
    </p>
</div>
